
<h1>Welcome to Yelp Clone!</h1>
<h2> This is a smaple application for cloning the Yelp app. The real deal can be found here at the <a href="http://www.yelp.co.uk/">Yelp</a> site. Invalueable resource for resturant rankings</h2>
